**Overview**
+ Built-in data structures: List, Dictionary, Set, Tuple
+ Control flow statements

# 1 - Built-in Data Structures and sequences

## 1.1- List:

![img](https://media.geeksforgeeks.org/wp-content/uploads/List-Slicing.jpg)

Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.

In [7]:
# Assign a list to an variable named my_list
my_list = [1,2,3]
type(my_list)

list

We just created a list of integers, but lists can actually hold different object types. For example:

In [5]:
my_list = ['A string', 23, 100.232, True, [1, 2, 3]]
my_list

['A string', 23, 100.232, True, [1, 2, 3]]

How many items are in the sequence of the list? - `len()`

In [6]:
len(my_list)

5

### 1.1.1 Indexing and Slicing

Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [8]:
my_list = ['one', 'two', 'three', 4, 5, ['six', 7, 8]]

In [9]:
len(my_list)

6

In [10]:
# Grab first object
my_list[0]

'one'

In [12]:
# Grab last object
my_list[-1]

['six', 7, 8]

In [11]:
# Grab from second object to the end
my_list[1:]

['two', 'three', 4, 5, ['six', 7, 8]]

In [14]:
# Grab everything UP TO fourth object
my_list[:4]

['one', 'two', 'three', 4]

In [15]:
# get '4', '5'
my_list[3:5]

[4, 5]

In [16]:
# Grab 'six':
my_list[-1][0]

'six'

In [17]:
# Grab 'six':
a = my_list[-1]
a[0]

'six'

We can also use + to concatenate lists, just like we did for strings.

In [18]:
# "+" several lists:
my_list + [9 , 10, 11]

['one', 'two', 'three', 4, 5, ['six', 7, 8], 9, 10, 11]

In [20]:
# Make the list double
my_list + my_list

['one',
 'two',
 'three',
 4,
 5,
 ['six', 7, 8],
 'one',
 'two',
 'three',
 4,
 5,
 ['six', 7, 8]]

In [19]:
# Revert values - my_list[::-1]
my_list[::-1]

[['six', 7, 8], 5, 4, 'three', 'two', 'one']

In [22]:
# Change 'three' -> 3:
my_list[2] = 3
my_list

['one', 'two', 3, 4, 5, ['six', 7, 8]]

In [25]:
# Change 4, 5 -> 'four', 'five':
my_list[3:5] = ['four','five']
my_list

['one', 'two', 3, 'four', 'five', ['six', 7, 8]]

### 1.1.2. List Methods

In [27]:
# Create a new list
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [33]:
planets = planets + ['abc']
planets

['Mercury',
 'Venus',
 'Earth',
 'Laos',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Vietnam',
 'Campuchia',
 'abc',
 'abc']

**üëâ .append():** - adds an item to the end of the list.

In [52]:
# Append:
planets.append('Vietnam')
planets

['Campuchia',
 'Earth',
 'Jupiter',
 'Mars',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus',
 'Earth']

In [30]:
#‚ùì Help me append "Campuchia" into planets list:
# Your code here:
planets.append('Campuchia')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Vietnam',
 'Campuchia']

üëâ **.pop()** - remove value based on its index

In [36]:
# Pop off the the last value:
planets.pop(-1)
planets

['Mercury',
 'Venus',
 'Earth',
 'Laos',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Vietnam',
 'Campuchia']

üëâ **.remove()** - removes the first matching element

In [53]:
planets.remove('Campuchia')

In [54]:
planets

['Earth',
 'Jupiter',
 'Mars',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus',
 'Earth']

üëâ **.insert()** - inserts an element to the list at the specified index.

In [31]:
# Insert a specific position in list: Insert Sun into the first possition
planets.insert(3, 'Laos')
planets

['Mercury',
 'Venus',
 'Earth',
 'Laos',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Vietnam',
 'Campuchia']

In [44]:
planet1 = planets
planet1[::3]

['Mercury', 'Mars', 'Uranus']

üëâ **.index( `element`, `_start_from` )** - returns the index of the specified element in the list.

In [45]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Campuchia']

In [48]:
# What is the position of Earth:

# Note: By default, we will get the first index of value matching with specified value
first_index = planets.index('Earth')
first_index

2

In [72]:
planets.index('Earth', first_index+1)

5

üëâ **.sort( `reverse = True/False`)** - sorts the items of a list in ascending or descending

In [55]:
# Sort list from A->Z:
planets.sort()
planets

['Earth',
 'Earth',
 'Jupiter',
 'Mars',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [64]:
# Sort list from Z->A:
planets.sort(reverse = True)
planets

['Venus',
 'Uranus',
 'Saturn',
 'Neptune',
 'Mercury',
 'Mars',
 'Jupiter',
 'Earth',
 'Earth']

üëâ **random.shuffle()** - random reorganize the order of the list items

In [ ]:
import random #do h√†m shuffle n·∫±m trong th∆∞ vi·ªán random

In [65]:
# Shuffle the list:
random.shuffle(planets)
planets

['Mars',
 'Mercury',
 'Uranus',
 'Saturn',
 'Jupiter',
 'Earth',
 'Neptune',
 'Venus',
 'Earth']

üëâ **.count()** - count nunber of times of a element appears in the list

In [67]:
# Count number of value in list:
planets.count('Earth')

2

üëâ **<string>.join(iterable)** - takes all items in an iterable and joins them into one string.

In [69]:
my_text = ['hello', 'I', 'am', 'Tam', 'Tran']
my_text

['hello', 'I', 'am', 'Tam', 'Tran']

In [70]:
# Let's join my_text string values into a completing sentence:
' '.join(my_text)

'hello I am Tam Tran'

In [71]:
'==='.join(my_text)

'hello===I===am===Tam===Tran'

## 1.2- Dictionary

![](https://programmathically.com/wp-content/uploads/2021/05/dictionary-768x416.png)

A dictionary is a data structure that stores items using key-value pairs. Each entry needs to have a unique key. Entries are ordered and can be changed. Dictionaries come inbuilt with Python and are created using curly brackets.

In [74]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'number_phone': 123456789, 'name': 'T√¢m', 'lovers': ['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m']}
my_dict

{'number_phone': 123456789, 'name': 'T√¢m', 'lovers': ['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m']}

In [75]:
# Call values by their key - get phonenumber of Tam
my_dict['number_phone']

123456789

In [76]:
my_dict['lovers']

['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m']

In [77]:
# Return all keys: .keys()
my_dict.keys()

dict_keys(['number_phone', 'name', 'lovers'])

In [78]:
# Return all values: .values()
my_dict.values()

dict_values([123456789, 'T√¢m', ['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m']])

In [79]:
# Return all pair of keys and values: .items()
my_dict.items()

dict_items([('number_phone', 123456789), ('name', 'T√¢m'), ('lovers', ['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m'])])

In [81]:
list(my_dict.items())[-1]

('lovers', ['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m'])

In [85]:
my_dict

{'number_phone': '099999999',
 'name': 'T√¢m',
 'lovers': ['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m']}

In [83]:
# Update value - Changing Tam's phone number to 099999999

my_dict['number_phone'] = '099999999'

In [88]:
# H√† Nhi fall in love with T√¢m!:
my_dict['lovers'].append('H√† Nhi')

In [89]:
my_dict

{'number_phone': '099999999',
 'name': 'T√¢m',
 'lovers': ['H·ªì Ng·ªçc H√†', 'M·ªπ T√¢m', 'H√† Nhi']}

In [90]:
# T√¢m is bad boy so now no body love T√¢m anymore! :( - Remove pair of key value - .pop(<key>)
my_dict.pop('lovers')
my_dict

{'number_phone': '099999999', 'name': 'T√¢m'}

In [92]:
# Tam is so sad and he traveled to the US and married Taylor Swift
# Add new pair of key-value
my_dict['wife'] = 'Taylor Swift'
my_dict

{'number_phone': '099999999', 'name': 'T√¢m', 'wife': 'Taylor Swift'}

## üòè CHALLENGE!:

In [96]:
# ex1: Returns "Cap Chris":
teams = [['Coach John', 'Cap Crunch', 'Tom, Timmy'],['Coach Jan', 'Cap Alan', 'Bruce'],['Coach Thomas', 'Cap Chris', 'Tony', 'Peter']]

# Your code here 
teams[-1][1]

'Cap Chris'

In [98]:
# ex2: Print out all the planets that comes before Mars (including Mars)
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Your code here 
planets[:4]

['Mercury', 'Venus', 'Earth', 'Mars']

In [112]:
# Ex3: Print out all the planets that comes before Mars (including Mars) but backward 

# Your code here 
planets[: planets.index('Mars')][::-1]

['Tr√°i ƒê·∫•t', 'Venus', 'Mercury']

In [101]:
# Ex4: Change name of "Earth" to "Tr√°i ƒê·∫•t"

# Your code here 
planets[2] = 'Tr√°i ƒê·∫•t'

In [102]:
planets

['Mercury',
 'Venus',
 'Tr√°i ƒê·∫•t',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [109]:
# Ex5: Return 'Python' from my_dict as below:
my_dict = {
    'a': [1, 2, 3],
    'b': [4, 5, ['six', 'Python']]
}

# Your code here 
list(my_dict.items())[-1][-1][-1][-1]

'Python'

In [113]:
my_dict['b'][-1][-1]

'Python'

In [111]:
# Ex6: Add the pair of key and value: 'c': [7, 8, 9] to my_dict:

# Your code here 
my_dict['c'] = [7, 8, 9]
my_dict

{'a': [1, 2, 3], 'b': [4, 5, ['six', 'Python']], 'c': [7, 8, 9]}

## 1.3- Tuples

![img](https://pynative.com/wp-content/uploads/2021/02/python-tuple.jpg)

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In [ ]:
# Create a tuple
t = (1,2,3, 'four', [5, 'six'], 3, 3, 2)

In [ ]:
# Check len just like a list

In [ ]:
# Use indexing just like we did in lists

In [ ]:
# Slicing just like a list

In [ ]:
# Value unchangeable and insertable - Try to change first object to 'one'

**Basic Tuple Methods**

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

| Method   | Description                                                                             |
|----------|-----------------------------------------------------------------------------------------|
| .count() | Returns the number of times a specified value occurs in a tuple                         |
| .index() | Searches the tuple for a specified value and returns the position of where it was found |

In [ ]:
# Use .index to enter a value and return the index

In [ ]:
# Use .count to count the number of times a value appears

In [ ]:
# convert a tupple to List: - tuple()

## 1.4- Set

There are two other object types in Python that we should quickly cover

![set img](https://pynative.com/wp-content/uploads/2021/03/python-sets.jpg)

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [ ]:
# Creat a set:

In [ ]:
# We add to sets with the add() method

In [ ]:
# Add two again! But it just show one since set will automatically remove duplicated

In [ ]:
# Create a list with repeats
list1 = ['number', 7, 1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values and it also reorder the list
set1 = set(list1)
set1

In [ ]:
# other way to remove duplicated values by using do-not-allow-duplicate property of dictionary's key.
list(dict.fromkeys(list1).keys())

In [ ]:
# Set can not indexing:
set1[0]

## 1.5- Type casting

Python very flexible on change datatypes each other within `list`, `tuple` and `set`

In [ ]:
# change to tuple:

In [ ]:
# change to set:

In [ ]:
# change to list:

# 2 - Control Flow statements (Part 1)
## 2.1 - if, elif, else Statements

<img src="https://i.imgur.com/fqJOBUS.png" width="400">

In [115]:
# Give x, y as values below, print the larger number:
x = int(input('pls input x: '))
y = int(input('pls input y: '))

if x>y:
    print('x > y, x =', x)
elif x<y:
    print('x < y, y =', y)
else:
    print('x = y =', x)

x = y = 5

In [ ]:
# Find the bigger number with x,y will be inputed from your keyboard

ü§î Ex: A school has following rules for grading system:
+ Below 25 - F
+ 25 to 45 - E
+ 45 to 50 - D
+ 50 to 60 - C
+ 60 to 80 - B
+ Above 80 - A

Ask user to enter marks by keyboard and print the corresponding grade.

In [118]:
# Your code here:
score = int(input('pls input your score: '))

if score < 25:
    print('F')
elif (score >= 25) and (score < 45):
    print('E')
elif (score >= 45) and (score < 50):
    print('D')
elif (score >= 50) and (score < 60):
    print('C')
elif (score >= 60) and (score < 80):
    print('B')
else:
    print('A')

Below  1 F

In [119]:
score = int(input('pls input your score: '))

if score < 25:
    print('F')
elif (score < 45):
    print('E')
elif (score < 50):
    print('D')
elif (score < 60):
    print('C')
elif (score < 80):
    print('B')
else:
    print('A')

C

## 2.2 - for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

<img src="https://i.ibb.co/8zsRg1F/5.png" width="400">

üëâ **Loop through a LIST**

In [ ]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# loop through each value of list1

The `range(start, stop, step)` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

ü§î How to say `I love you!` to your lover 1000 times??!!??

<img src="https://i.pinimg.com/564x/d0/ac/04/d0ac0401f8449ce35f4bc33d7a45a25b.jpg" width="350">

In [ ]:
# create a range of integers to below 10

In [ ]:
# create a range of integers from 3 to 15

In [ ]:
# create a range of integers from 3 to 15 step 2

In [ ]:
# ü§î Print the numbers that are divisible by 2 less than 20?

üëâ **Loop through a STRING**

In [ ]:
# for loop with string
words = 'we are number one!'

üëâ **Loop through a DICTIONARY**

In [ ]:
my_dict = {'Tam': 19, 'Hoa': 20, 'Tuyen': 17}

In [ ]:
# Loop through keys:

In [ ]:
# Loop through values:

In [ ]:
# Loop through pairs key and value:

üëâ **enumerate()** - function adds a counter as the key of the enumerate object.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'banana', 'cherry', 'banana', 'cherry', 'orange']

enumerate(fruits)

In [ ]:
# by defalt enumerate will start from 0

In [ ]:
# If you want it start from 2

In [ ]:
# How to loop through a enumerate

In [ ]:
# ‚ùìEx1: Find the tallest name:
students = {'Nam': 170, 'N·ªØ': 185, 'H·ªìng': 150, 'Cam': 165, 'Hu·ªá': 175}

# ‚ú≥Ô∏èHint: students.items()

In [ ]:
# ‚ùìEx2: Find the FIRST number and ITS INDEX divisible by 3:
numbers = [1, 32, 11, 243, 77, 897, 666, 964, 738, 1000, 322]

# ‚ú≥Ô∏èHint: "break" (opional: find the LAST number divisible by 3)

In [ ]:
# ‚ùìEx3: Remove duplicated values of small lists in side the below big list:
number_lists = [
    [10, 12, 11, 200, 12, 200, 3, 3, 5, 7]
    [10, 121, 711, 210, 132, 210, 311, 123, 445, 1147, 711, 210]
    [1120, 12412, 111, 134200, 3412, 23400, 353, 343, 577, 1120, 12412, 111]
]

üëâ **Nested iteration**

In [4]:
# Example:
for i in range(3):
    for j in range(4):
        print(i, j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

## 1.3 - while Loops

<img src="https://www.freecodecamp.org/news/content/images/2020/08/while-loop.jpg" width="350">

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let‚Äôs look at a few simple <code>while</code> loops in action.

In [ ]:
# print all even numbers below 50:

## 1.4 - `break`, `continue`, `pass`

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases.

<img src="https://almablog-media.s3.ap-south-1.amazonaws.com/Break_Pass_and_Continue_Statements_in_Python_min_69bb0f487a.png" width="600">

In [ ]:
# Pass:
x = 0
while x < 10:
    if x == 5:
        print('FIVE')
        pass
        print('hello')
    elif x ==6:
        pass
    else:
        print(x)
    x += 1

In [ ]:
# Break:
x = 0
while x < 10:
    if x == 5:
        print('FIVE')
        break
        print('hello')
    else:
        print(x)
    x += 1

In [ ]:
# Continue:
x = 0
while x < 10:
    x += 1
    if x == 5:
        print('FIVE')
        continue
        print('hello')
    else:
        print(x)

## üòè CHALLENGE!

**FizzBuzz**

*Instructions:*

You are going to write a program that automatically prints the solution to the FizzBuzz game by using **for-loop** or **while-loop**

Write a program that prints the integers from 1 to 100. But for multiples of `3` print `"Fizz"` instead of the number, and for the multiples of `5` print `"Buzz"`. For numbers which are multiples of both `3` and `5` print `"FizzBuzz"`

e.g. it might start off like this:

```
`1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz`
```

`.... etc.`

*‚ú≥Ô∏è Note:*

1. Remember your answer should start from 1 and go up to and including 100. 
2. Each number/text should be printed on a separate line.
3. Write 2 versions: verion 1 use `for` loop and version 2 use `while` loop

In [ ]:
# Your code here!