# L2 - Homeworks
<img src="https://pbs.twimg.com/media/De9Vi4EXUAEq9Rz.jpg" width="300">

### ‚ùì**Ex1. Reverse a list:**

Given:

`list1 = [100, 200, 300, 400, 500]`

Expected output:

`[500, 400, 300, 200, 100]`

In [3]:
list1 = [100, 200, 300, 400, 500]

In [4]:
# Your code here

[500, 400, 300, 200, 100]

### ‚ùì**Ex2: Convert two lists into a dictionary**

Below are the two lists. Help me to convert them into a dictionary in a way that items from list1 is the `key` and items from list2 is the `value`

Expected output: 

`{'Ten': 10, 'Twenty': 20, 'Thirty': 30}`

In [2]:
list1 = ['Ten', 'Twenty', 'Thirty']
list2 = [10, 20, 30]

In [3]:
# Your code here

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### ‚ùì**Ex3: Get all numbers inside the below sentence:**

<img src="https://i1-english.vnecdn.net/2023/04/03/ml1-1680522036.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=RyiN81Bji7ya3bJVpicL8w" width="600">

‚ú≥Ô∏è Hint: *str*`.isnumeric()`

Expected output: `'313732019661500016270'`

In [5]:
sen = '''At the auction held in Paris, France, on March 31, there were 373 paintings, lacquerware, ceramics, artifacts from the
Nguyen Dynasty, and bronze and ceramic works belonging to the School of Bien Hoa in the 20th century. A 1966 three-panel lacquer 
painting "Phong Canh Dong Bang Song Cuu Long" (Landscape of the Mekong Delta) by Nguyen Van Thanh was sold for 15,000 euros ($16,270).
It depicts a river with houses nestling under trees, a bridge over the river and children bathing buffaloes.'''

In [11]:
# your code here:

'313732019661500016270'

### **Ex4: Get all words contain leter "o" inside in the passage `sen`?**

‚ú≥Ô∏è Hint: operator: `in` and `not in`

In [13]:
sen = '''At the auction held in Paris, France, on March 31, there were 373 paintings, lacquerware, ceramics, artifacts from the
Nguyen Dynasty, and bronze and ceramic works belonging to the School of Bien Hoa in the 20th century. A 1966 three-panel lacquer 
painting "Phong Canh Dong Bang Song Cuu Long" (Landscape of the Mekong Delta) by Nguyen Van Thanh was sold for 15,000 euros ($16,270).
It depicts a river with houses nestling under trees, a bridge over the river and children bathing buffaloes.'''

In [17]:
# Your answer here:

['auction',
 'on',
 'from',
 'bronze',
 'works',
 'belonging',
 'to',
 'School',
 'of',
 'Hoa',
 '"Phong',
 'Dong',
 'Song',
 'Long"',
 'of',
 'Mekong',
 'sold',
 'for',
 'euros',
 'houses',
 'over',
 'buffaloes.']

### ‚ùì**Ex5: Print the `value` of key `history` from the below `sampleDict`**

Expected output: 80

In [18]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [22]:
# your code here:

80

### ‚ùì **Ex6: Delete a list of keys from a dictionary**

given a list of keys that you want to delete inside the sample_dict below:

expected output: `{'age': 25, 'city': 'New york'}`

In [26]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys need to remove
remove_keys = ["name", "salary"]

In [ ]:
# your code here

### ‚ùì**Ex7: Remove duplicated values inside the below list with 2 versions:**

‚ú≥Ô∏è Hint: operator: `in` and `not in`

In [5]:
number_list = [10, 12, 4, 12, 11, 33, 234, 12, 3 , 10, 4, 33, 1000, 234]

In [7]:
# version 1: kh√¥ng quan t√¢m ƒë·∫øn th·ª© t·ª± v·ªã tr√≠ c·ªßa c√°c s·ªë trong number_list
# your code here:

[33, 3, 4, 1000, 10, 11, 12, 234]

In [8]:
# version 2: Kh√¥ng thay ƒë·ªïi th·ª© t·ª± v·ªã tr√≠ c√°c con s·ªë trong number_list
# your code here:

[10, 12, 4, 11, 33, 234, 3, 1000]

### ‚ùì Ex 8: **PASSWORD GENERATOR**

I have given a list of letters, numbers and symbols as below, your task is to create a program that automatically generates a trong passwords with number of letter, symbol and number was inputed from keyboard.

You can refer to the video `L2_password_generator.mp4` to see how this program works. Good luck! üòâ

‚ú≥Ô∏è Hint:
+ `break` help to stop the loop
+ set parameter ```flush=True``` in the `print` function will help to prevent printed results not display out to screen:

```python
        print('hello world!', flush = True)
```

In [31]:
import random
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', \
    'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D'\
        , 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S'\
            , 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']

In [27]:
# your code here: